<div class="container">
    {{ form_start(postFrom,{'attr':{'action':path('app_training_new')}}) }}
    {{ form_start(engagementPosForm) }}
    {{ form_widget(postFrom) }}
    {{ form_widget(engagementPosForm) }}
    <select name="trainers[]" id="" multiple>
        {% for trainer in trainers %}
        <option value="{{ trainer.id }}">{{ trainer.fName }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(postFrom) }}
    {{ form_end(engagementPosForm) }}
</div>