<table class="dt-advanced-search table">
    <thead>
    <tr>
        <th></th>
        <th>Training</th>
        <th>Place</th>
        <th>Dep</th>
        <th>Date</th>
        <th>Trainers</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for post in trainings %}
        <tr>
            <td></td>
            <td>{{ post.name }}</td>
            <td>{{ post.engagementPost.place }}</td>
            <td>{% for target in post.departments %} {{ target }} <br>{% endfor %}</td>
            <td>{{ post.engagementPost.date|date("j F Y") }}</td>
            <td>{% for trainer in post.engagementPost.training.trainers %} {{ trainer.fName }} {{ trainer.lName}} <br>{% endfor %}</td>
            <td>
                <div class="dropdown">
                    <button type="button"
                            class="btn btn-sm dropdown-toggle hide-arrow py-0"
                            data-bs-toggle="dropdown">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item"
                                {{ stimulus_controller('edit-item',{
                                    'url': path('app_training_modify', {'id': post.id, 'ajax': 1})
                                }) }}
                           data-action="click->edit-item#openEditModal"
                        >
                            <i class="fa-solid fa-pen"></i>
                            <span>Update</span>
                        </a>
                        <a class="dropdown-item"
                                {{ stimulus_controller('delete-item',{
                                    'url': path('app_training_delete', {'id': post.id})
                                }) }}
                           data-action="click->delete-item#deleteItem"
                        >
                            <i class="fa-solid fa-trash"></i>
                            <span>Delete</span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
    <tfoot>
    <tr>
        <th></th>
        <th>Training</th>
        <th>Place</th>
        <th>Dep</th>
        <th>Date</th>
        <th>Trainers</th>
        <th>Actions</th>
    </tfoot>
</table>
<div id="test"></div>