<!-- add new card modal  -->
<div
        class="modal fade" id="modal"
        data-target="modal"
        tabindex="-1" aria-labelledby="addNewCardTitle"
        aria-hidden="true"
        data-edit-item-target="modal"
>
    <div data-target="modal" class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-transparent">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-sm-5 mx-50 pb-5">
                <h1 data-action="click->modal-form#hideModal" class="text-center mb-1"
                    id="addNewCardTitle">{{ modalTitle }}</h1>
                <p class="text-center">Add card for future billing</p>

                <!-- form -->
                <div id="addNewCardValidation" class="row gy-1 gx-2 mt-75" {{ stimulus_controller('modal-form') }}
                     data-modal-form-target="modalBody">
                    {{ form_start(form,{'attr':{'action':path(routeName,{'id':id})}}) }}
                    {{ form_widget(form) }}
                    {% if modalTitle == 'Edit resource' %}
                        <div>
                            <label>Links</label>
                            {% for link in links %}

                                <div class="form-group" id="formGroupTemplateEdit">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <input type="text" value="{{ link }}" class="form-control m-2" name="links[]">
                                    <i style="cursor: pointer" class="fa fa-trash delete-item-button"></i>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-primary mt-2" id="addItemButtonEdit">Add Item</button>
                        </div>
                    {% endif %}
                    {{ form_end(form) }}

                    <div class="col-12 text-center">
                        <input type="submit" class="btn btn-primary me-1 mt-1" data-action="modal-form#submitForm">
                        <button type="reset" class="btn btn-outline-secondary mt-1" data-bs-dismiss="modal"
                                aria-label="Close">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ add new card modal  -->
